@charset "utf-8";

/*! Author: JW 2022-03-14. Edit: JW 2022-03-24 */
*{margin:0;padding:0;}
html{font-size:10px;-webkit-text-size-adjust:none;}
body{line-height:1.2;font-size:2rem;font-family:'Roboto-Regular','NanumSquareR',sans-serif;color:#fff;background-color:#000;-webkit-overflow-scrolling:touch;}
h1,h2,h3,h4,h5,h6,strong{font-family:'Roboto-Bold','NanumSquareExtraBold',sans-serif;font-weight:normal;}
a{color:inherit;text-decoration:none;}
button{line-height:inherit;font-family:inherit;font-size:inherit;color:inherit;border:none;background-color:transparent;cursor:pointer;}
dd,li{list-style:none;}
::-webkit-scrollbar{width:4px;height:2px;background-color:rgba(255,255,255,0.05);}
::-webkit-scrollbar-thumb{background-color:#fff;}
body:after{content:'';width:60px;height:60px;margin-top:-30px;margin-left:-30px;position:fixed;left:50%;top:50%;background:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Crect x='248.163' style='fill:%23ffffff;' width='15.673' height='143.997'/%3E%3Crect x='248.163' y='368.003' style='fill:%23ffffff;' width='15.673' height='143.997'/%3E%3Crect x='53.892' y='118.051' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 125.8917 303.9215)' style='fill:%23ffffff;' width='143.996' height='15.673'/%3E%3Crect x='314.109' y='378.265' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 386.1105 932.136)' style='fill:%23ffffff;' width='143.996' height='15.673'/%3E%3Crect y='248.163' style='fill:%23ffffff;' width='143.997' height='15.673'/%3E%3Crect x='368.003' y='248.163' style='fill:%23ffffff;' width='143.997' height='15.673'/%3E%3Crect x='118.039' y='314.097' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 -58.1268 748.114)' style='fill:%23ffffff;' width='15.673' height='143.996'/%3E%3Crect x='378.269' y='53.892' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 570.1053 487.9248)' style='fill:%23ffffff;' width='15.673' height='143.996'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") no-repeat;background-size:100% 100%;z-index:100;animation:loading 3s linear infinite;}
body .container,body .footer,body .header{visibility:hidden;}
body.onLoad:after{visibility:hidden;animation:none;}
body.onLoad .blog-wrap:before{opacity:0.05;transition:opacity 1s ease;}
body.onLoad .container,body.onLoad .footer,body.onLoad .header{visibility:initial;}
.blog-wrap{min-width:320px;}
.blog-wrap:before{content:'';opacity:0.03;width:100vw;height:100vh;position:fixed;left:0;top:0;background:url('https://cdn.jsdelivr.net/gh/fe-jw/J-Web/img/bg_j-web.jpg') repeat 50% 0;background-size:960px auto;z-index:-10;}
.blog-wrap .link-default{display:flex;justify-content:center;align-items:center;width:160px;height:45px;margin:30px auto 0;padding:0 10px;border-width:1px;border-style:solid;border-color:#fff;font-family:'Roboto-Light','NanumSquareL',sans-serif;font-size:1.5rem;text-align:center;background-color:rgba(255,255,255,0.1);transition:all 0.5s ease;box-sizing:border-box;}
.blog-wrap .link-default:hover{border-color:#689f63;background-color:rgba(104,159,99,0.2);}
.blog-wrap .link-default.more:after{content:'';opacity:0;display:inline-block;width:0;height:0;background:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 485 485' style='enable-background:new 0 0 485 485;' xml:space='preserve'%3E%3Cpolygon points='485,227.5 257.5,227.5 257.5,0 227.5,0 227.5,227.5 0,227.5 0,257.5 227.5,257.5 227.5,485 257.5,485 257.5,257.5 485,257.5 ' fill='%23fff' /%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;background-size:100% 100%;transition:all 0.3s;}
.blog-wrap .link-default.more:hover:after{opacity:1;width:12px;height:12px;margin-left:5px;}
.blog-wrap .header{margin-bottom:-50px;position:sticky;top:0;background-color:rgba(0,0,0,0.8);z-index:100;box-shadow:0 1px 0 #689f63;}
.blog-wrap .header .header-wrap{display:flex;align-items:center;height:50px;padding:0 10px;}
.blog-wrap .header .header-wrap .main-tit{font-size:2.5rem;}
.blog-wrap .content-main{min-height:100vh;padding-top:100px;box-sizing:border-box;}
.blog-wrap .content-main .welcome-tit{margin-bottom:50px;line-height:1.28571429;font-size:3.5rem;text-align:center;}
.blog-wrap .content-main .postings .posts{display:flex;flex-wrap:wrap;padding:0 5px;}
.blog-wrap .content-main .postings .posts li{flex:1 350px;min-width:0;margin:10px;}
.blog-wrap .content-main .postings .posts a{display:block;}
.blog-wrap .content-main .postings .post-wrap{padding:10px;background-color:rgba(255,255,255,0.1);box-sizing:border-box;transition:color 0.3s ease,background-color 0.3s ease,box-shadow 0.3s ease;}
.blog-wrap .content-main .postings .posts a:focus .post-wrap,.blog-wrap .content-main .postings .posts a:hover .post-wrap{color:#000;background-color:#fff;box-shadow:0 0 25px #689f63;}
.blog-wrap .content-main .postings .post-tit{margin-bottom:10px;padding-bottom:10px;border-bottom:2px solid #689f63;line-height:1;font-size:2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.blog-wrap .content-main .postings .desc-wrap{display:flex;}
.blog-wrap .content-main .postings .desc-wrap .thumb{width:90px;height:90px;margin-right:10px;border:1px solid #689f63;box-sizing:border-box;}
.blog-wrap .content-main .postings .desc-wrap .desc{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:6;overflow:hidden;text-overflow:ellipsis;height:84px;margin:3px 0;line-height:1.16666667;font-size:1.2rem;}
.blog-wrap .footer{padding:50px 10px 20px;}
.blog-wrap .footer .copyright{font-family:'Roboto-Light','NanumSquareL',sans-serif;line-height:1;font-size:1.2rem;font-style:normal;text-align:center;color:#777;}
.blog-wrap .btn-top{opacity:0;visibility:hidden;width:30px;height:30px;position:fixed;right:10px;bottom:10px;border:1px solid #fff;font:0/0 a;background-color:rgba(255,255,255,0.1);transition:all 0.3s ease;}
.blog-wrap .btn-top.on{opacity:1;visibility:visible;}
.blog-wrap .btn-top:after{content:'';display:inline-block;width:15px;height:15px;background:url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M271.653 1023.192c-8.685 0-17.573-3.432-24.238-10.097-13.33-13.33-13.33-35.144 0-48.474L703.67 508.163 254.08 58.573c-13.33-13.331-13.33-35.145 0-48.475 13.33-13.33 35.143-13.33 48.473 0L776.38 483.925c13.33 13.33 13.33 35.143 0 48.473l-480.492 480.694c-6.665 6.665-15.551 10.099-24.236 10.099z' fill='%23fff'/%3E%3C/svg%3E") no-repeat;background-size:100% 100%;transform:rotate(-90deg);}
@media all and (min-width: 768px) and (max-width: 1439px){
.blog-wrap .link-default{width:180px;height:50px;font-size:2rem;}
.blog-wrap .link-default.more:hover:after{width:16px;height:16px;margin-left:10px;}
.blog-wrap .content-main{padding-top:150px;}
.blog-wrap .content-main .welcome-tit{line-height:1.2;font-size:5rem;}
.blog-wrap .content-main .postings .posts{padding:0 10px;}
.blog-wrap .content-main .postings .posts li{flex:1 360px;}
.blog-wrap .content-main .postings .post-tit{font-size:2.5rem;}
.blog-wrap .footer{padding:50px 10px 20px;}
.blog-wrap .footer .copyright{font-size:1.2rem;}
}
@media all and (min-width: 1440px){
body:after{width:100px;height:100px;margin-top:-50px;margin-left:-50px;}
.blog-wrap:before{background-size:1920px auto;}
.blog-wrap .link-default{width:280px;height:80px;border-width:2px;font-size:3rem;}
.blog-wrap .link-default.more:hover:after{width:24px;height:24px;margin-left:10px;}
.blog-wrap .header{margin-bottom:-80px;box-shadow:0 2px 0 #689f63;}
.blog-wrap .header .header-wrap{max-width:1440px;height:80px;margin:0 auto;padding:0 20px;box-sizing:border-box;}
.blog-wrap .header .header-wrap .main-tit{font-size:5rem;}
.blog-wrap .content-main{max-width:1440px;margin:0 auto;padding-top:300px;}
.blog-wrap .content-main .welcome-tit{margin-bottom:100px;line-height:1.2;font-size:10rem;}
.blog-wrap .content-main .postings .posts{padding:0;}
.blog-wrap .content-main .postings .posts li{flex:1 680px;}
.blog-wrap .content-main .postings .post-tit{margin-bottom:20px;padding-bottom:20px;font-size:5rem;}
.blog-wrap .content-main .postings .post-wrap{padding:20px;}
.blog-wrap .content-main .postings .posts a:focus .post-wrap,.blog-wrap .content-main .postings .posts a:hover .post-wrap{box-shadow:0 0 50px #689f63;}
.blog-wrap .content-main .postings .desc-wrap .thumb{width:150px;height:150px;margin-right:20px;}
.blog-wrap .content-main .postings .desc-wrap .desc{height:144px;margin:6px 0;line-height:1.2;font-size:2rem;}
.blog-wrap .footer{padding:90px 20px 30px;}
.blog-wrap .footer .footer-wrap{max-width:1440px;margin:0 auto;}
.blog-wrap .footer .copyright{font-size:2rem;}
.blog-wrap .btn-top{width:50px;height:50px;right:20px;bottom:20px;}
.blog-wrap .btn-top:after{width:25px;height:25px;}
}
@keyframes loading{
from{transform:rotate(0);}
to{transform:rotate(360deg);}
}